.container_mon_an {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.com_image {
  width: 240px;
  height: auto;
  object-fit: contain;
  align-self: start;
  margin: 10px;
}

.bun_image {
  width: 50%;
  height: auto;
  object-fit: contain;
  align-self: start;
  padding: 10px;
  box-sizing: border-box;
}